.form__closing-button{
  background-image: url(../../../images/close.svg);
  width: 32px;
  height: 32px;
  grid-column: 3;
  grid-row: 1;
  border: 0;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}