.element__remove-button{
  background-image: url('../../../images/remove-button.svg');
  width: 18px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  border: 0;
  padding: 0;
  background-repeat: no-repeat;
  right: 15px;
  top: 18px;
  z-index: 1;
  position: absolute;
}
.element__remove-button:hover{
  opacity: .5;
}