.popup__container{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
  grid-gap: 8px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px){
  .popup__container{
    grid-gap: 8px;
  }

}
@media screen and (min-width: 768px){
  .popup__container{
    grid-gap: 16px;
  }

}