.popup__submit-button{
  background-color: #000000;
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  font-family: Inter, sans-serif;
}



.popup__submit-button:hover{
  opacity: 0.8;
}

@media screen and (min-width: 320px){
  .popup__submit-button{
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px){
  .popup__submit-button{
    width: 358px;
    height: 50px;
    margin-top: 34px;
    margin-bottom: 0;
  }   
}
