.header__logo{
  width: 104px;
  height: 33px;
}


@media screen and (min-width: 320px){
  .header__logo{
    margin-left: 27px;
    margin-bottom: 31.6px;
    
  }

}
@media screen and (min-width: 425px){
  .header__logo{
    width: 142px;
    margin: 0;
    
  }

}