.popup__edit{
  border: 0;
  border-bottom:1px solid rgba(84, 84, 84, .2);
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 13px;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}



@media screen and (min-width: 320px) {
  .popup__edit{
    width: 238px;
  }
  .popup__edit:first-of-type {
    margin-top: 75px;
  }
}


@media screen and (min-width: 768px) {
  .popup__edit{
    width: 358px;
  }
  .popup__edit:first-of-type {
    margin-top: 54px;
  }
}