.profile__description{
  font-weight: normal;
  color: #FFFFFF;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}


@media screen and (min-width: 320px){
  .profile__description{
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    
  }

}
@media screen and (min-width: 768px){
  .profile__description{
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    
  }

}