.empty__close-button{
  background-image: url('../../../images/close.svg');
  border: 0;
  background-color: transparent;
  cursor: pointer;



}

.empty__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 320px) {
  .empty__close-button{
    width: 20px;
    height: 20px;
    grid-column: 2;
    justify-self: flex-end;
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .empty__close-button{
    width: 32px;
    height: 32px;
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-start;
    
    
  }
}