.footer{
  
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 48px;
  margin-bottom: 36px;
}


@media screen and (min-width: 1024px)){
  .footer{
    margin-top: 66px;
    margin-bottom: 60px;
    
  }

}